################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CovidTestCentres/.vs/CovidTestCentres/v16
/CovidTestCentres/CovidTestCentres/obj
/CovidTestCentres/CovidTestCentres/bin/Debug/net5.0
/CovidTestCentres/.vs/CovidTestCentres/config
