################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CovidTestCentres/.vs/CovidTestCentres/v16
