@page "/"

<PageHeader />

@* dropdown *@
<Dropdown />

<div class="my-2">
    @* header *@
    <TableHeader />
    @* grid row *@
    @foreach (var item in clinics)
    {
        <TableRow Item="@item" />
    }

</div>
<Button Text="Report Issue" />

@code {
    List<Clinic> clinics;

    protected override void OnInitialized()
    {
        clinics = new List<Clinic>();
        clinics.Add(new Clinic
        {
            Name = "KLINIK ICON",
            ContactNumber = "+60328566105",
            Address = "E-05-05A, THE ICON, JALAN U THANT 1/68F, Kuala Lumpur, 50400 Kuala Lumpur, Wilayah Persekutuan Kuala Lumpur",
            District = "District 1"
        });
    }
}