@page "/"


<h1 class="py-4 text-lg flex flex-1 font-bold text-blue-800">
    COVID-19 Test Centers
</h1>

@* dropdown *@
<div>
    <div class="mb-4">
        <button id="menu-button" type="button" class="inline-flex items-center justify-between tracking-wide w-full border bg-gray-100 text-gray-400 px-4 py-2 text-sm rounded-md shadow-sm">
            Locations
            <span class="oi oi-chevron-bottom text-gray-700 ml-2" title="icon name" aria-hidden="true"></span>
        </button>
    </div>
</div>

<div class="my-2">
    @* header *@
    <div class="hidden uppercase bg-gray-50 text-gray-500 border-gray-200 tracking-wide border px-4 py-2 rounded-tl-md rounded-tr-md">
        Name
    </div>
    @* grid row *@
    <div class="grid grid-cols-3 grid-rows-2 border-gray-200 border-b p-4 text-gray-700 bg-white">
        <div class="col-span-2">
            KLINIK ICON
        </div>
        <div class="row-start-2 col-span-2 truncate text-gray-500 capitalize">
            E-05-05A, THE ICON, JALAN U THANT 1/68F, Kuala Lumpur, 50400 Kuala Lumpur, Wilayah Persekutuan Kuala Lumpur
        </div>
        <div class="hidden">+60328566105</div>
        <div class="col-start-3 row-span-2 flex flex-1 items-center justify-center cursor-pointer">
            <label class="border border-gray-200 px-4 py-2 rounded-3xl">Go</label>
            @* <span class="oi oi-map-marker text-red-600" title="icon name" aria-hidden="true"></span> *@
        </div>
    </div>
</div>


@code {
    List<Clinic> clinics;

    protected override void OnInitialized()
    {
        clinics = new List<Clinic>();
        clinics.Add(new Clinic {
            Name = "KLINIK ICON", 
            ContactNumber = "+60328566105",
            Address = "E-05-05A, THE ICON, JALAN U THANT 1/68F, Kuala Lumpur, 50400 Kuala Lumpur, Wilayah Persekutuan Kuala Lumpur"
        });
    }
}