<div>
    <div class="mb-4 md:mb-10 xl:grid xl:grid-cols-12">
        <button id="menu-button" type="button" class="inline-flex 
        xl:col-span-3 items-center justify-between tracking-wide w-full
        border bg-gray-100 text-gray-400 px-4 py-2 text-sm rounded-md 
        shadow-sm">
            Locations
            <span class="oi oi-chevron-bottom text-gray-400 ml-2" title="icon name" aria-hidden="true"></span>
        </button>
    </div>
</div>