<div class="hidden md:grid md:grid-cols-6 grid-rows-1 md:mb-4 
    bg-gray-50 text-gray-500 border-gray-200 tracking-wide 
    border px-4 py-2 rounded-tl-md rounded-tr-md">
    <label class="font-bold row-start-1 col-start-1">
        Name
    </label>
    <label class="font-bold row-start-1 col-start-2 xl:col-start-4">
        Address
    </label>
    <label class="font-bold row-start-1 col-start-4 xl:col-start-2">
        District
    </label>
    <label class="font-bold row-start-1 col-start-5 xl:col-start-3">
        Phone
    </label>
</div>